Source: picolibc
Priority: optional
Maintainer: Keith Packard <keithp@keithp.com>
Build-Depends: debhelper (>= 11), gcc-arm-none-eabi, gcc-riscv64-unknown-elf, meson, ninja-build
Standards-Version: 4.1.3
Section: devel

Package: picolibc-riscv64-unknown-elf
Architecture: all
Depends: ${misc:Depends}
Description: Smaller embedded C library for RISC-V development
 PicoLibc is a combination of Newlib and AVR libc bits designed
 for small-RAM embedded systems.

Package: picolibc-arm-none-eabi
Architecture: all
Depends: ${misc:Depends}
Replaces: libnewlib-nano-arm-none-eabi
Description: Smaller embedded C library for ARM development
 PicoLibc is a combination of Newlib and AVR libc bits designed
 for small-RAM embedded systems.
